@charset "UTF-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0;
	padding: 0;
	color: #fff;
}
#container {
	width: 1080px;
	height:960px;
	background-color: #FFF;
	margin: 0 auto; 
}
#content {
	width:1000px;
	height:900px;
	margin-left:40px;
}
#header {
	background-color:#666;
	height:50px;
	width:1080px;
}
#main{
	width:88%;
	height:2000px;
	background-size: 100%;
	margin: 0 auto;
	position: relative
}
#backgroundimage{
	height:6080px;
	width:1280px;
	position:absolute;
	/*background-image:url(images/wellness.jpg);*/
	background-color:#fff;
	margin-top:-110px;
}
#background {
	height:700px;/*
	max-width:1080px;*/
	width:100%;
	background-size:100%;
	position:absolute;
	background-image: url(images/mainimage2.jpg);
	background-repeat: no-repeat;
}
#page{
	width:100%;
	height:3000px;
	position: relative;
	margin:0 auto;
}
.nav {
	position:fixed;
	z-index: 10;
	
}
.fixed {
	position:fixed;
}
#menu {
	width:100%;
	height:30px;
	margin:110px 0 auto;
}
ul.nav {
	width:90%;
	margin-left: 6%;
	height:30px;
	list-style:none;
	overflow:hidden;
	background-color:#fff;
	color:#000;
}
ul.nav li{
	float:left;
	margin:0;
	width:12%;
	margin: auto 1%;
}
ul.nav > :first-child {
	margin-left:13%;
}
ul.nav li a {
	display: block;
	margin: 0px 5px;
	
	text-decoration: none;
	color:#000;
	font-weight: 300;
	line-height: 1.3;
	font-size: 140%;
}
a { outline: none; }	 	 
#title {
	height:70px;
	width:97%;
	float:left;
	margin-top:-70px;
	margin-left:30px;
	background-color:#fff;
	background: url(images/logo2.jpg) no-repeat;
}
#maingraphic{
	height:1287px;
	width:926px;
	left:-17%;
	top:-19%;
	background-color:#fff;
	opacity:.5;
	-webkit-transform: rotate(75deg);
    -moz-transform: rotate(75deg);
    -o-transform: rotate(75deg);
    -ms-transform: rotate(75deg);
    transform: rotate(75deg);
	position:absolute;
	opacity: 0;
}
#colorgraphic{
	height:4077px;
	width:100px;
	background-color: #bada55;
	top:-35%;
	left:74%;
	opacity: 0;
	-webkit-transform: rotate(85deg);
    -moz-transform: rotate(85deg);
    -o-transform: rotate(85deg);
    -ms-transform: rotate(85deg);
    transform: rotate(85deg);
	position:absolute;
	/*background: url(images/squeege2.png) no-repeat;*/
}
#colorgraphictwo{
	height:4077px;
	width:100px;
	background-color: #000;
	top:-81%;
	left:79%;
	opacity: 1;
	-webkit-transform: rotate(85deg);
    -moz-transform: rotate(85deg);
    -o-transform: rotate(85deg);
    -ms-transform: rotate(85deg);
    transform: rotate(85deg);
	position:absolute;
	/*background: url(images/squeege2.png) no-repeat;*/
}
#colorgraphicfour{
	height:4077px;
	width:100px;
	background-color: #bada55;
	top:-35%;
	left:74%;
	opacity: 1;
	-webkit-transform: rotate(85deg);
    -moz-transform: rotate(85deg);
    -o-transform: rotate(85deg);
    -ms-transform: rotate(85deg);
    transform: rotate(85deg);
	position:absolute;
	/*background: url(images/squeege2.png) no-repeat;*/
}
#colorgraphicthree{
	height:4077px;
	width:100px;
	background-color: #000;
	top:-81%;
	left:79%;
	opacity: 1;
	-webkit-transform: rotate(85deg);
    -moz-transform: rotate(85deg);
    -o-transform: rotate(85deg);
    -ms-transform: rotate(85deg);
    transform: rotate(85deg);
	position:absolute;
	/*background: url(images/squeege2.png) no-repeat;*/
}
#footer7{
	width:100%;
	height:60px;
	margin-top:1120px;
	background-color:#000;
	position:absolute;
}