@charset "utf-8";
/* CSS Document */
/* ----------------- CSS FOR THE CURRENT NUMBER OF PHOTO -------------------- */
.photoLabel{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:9px !important;
	color:#CCCCCC !important;
	text-align:center !important;
}

.photoLabelModern{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:9px !important;
	color:#333333 !important;
	text-align:center !important;
}

.photoNumberSimple{
	font-family:Verdana, Helvetica, sans-serif !important;
	font-size:16px !important;
	color:#FFFFFF !important;
	vertical-align:-2px !important;
	font-weight:100 !important;
	font-style:italic !important;
}

.photoNumberRound{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:11px !important;
	color:#0099ff !important;
	vertical-align:0px !important;
	font-weight:100 !important;
}

.photoNumberModern{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:11px !important;
	color:#000000 !important;
	vertical-align:0px !important;
	font-weight:100 !important;
}

/* ------------------ CSS FOR THE DESCRIPTION WINDOW ------------------------ */
.simpleSkinHeaderDesc{
	display:inline-block;
	font-family:Verdana, sans-serif !important;
	color:#000000 !important;
	font-style:italic !important;
	background-color:#FFFFFF !important;
	font-weight:100 !important;
	font-size:18px !important;
	margin:0px !important;
	padding:6px !important;
	padding-top:2px !important;
	padding-bottom:2px !important;
	margin-top:7px !important;
	margin-bottom:12px !important;
}

.roundSkinHeaderDesc{
	display:inline-block;
	font-family:Verdana, sans-serif !important;
	color:#FFFFFF !important;
	font-style:italic !important;
	background:url(skin_round/infoBar.png) repeat-x !important;
	font-weight:100 !important;
	font-size:18px !important;
	margin:0px !important;
	padding:6px !important;
	padding-top:0px !important;
	padding-bottom:2px !important;
	margin-top:7px !important;
	margin-bottom:12px !important;
	border-radius:8px !important;
	height:31 !important;
}

.modernSkinHeaderDesc{
	display:inline-block;
	font-family:Verdana, sans-serif !important;
	color:#333333 !important;
	font-style:italic !important;
	background:url(skin_modern/barPattern.png) repeat-x !important;
	font-weight:100 !important;
	font-size:18px !important;
	margin:0px !important;
	padding:6px !important;
	padding-top:2px !important;
	padding-bottom:2px !important;
	margin-top:7px !important;
	margin-bottom:6px !important;
	border-radius:4px !important;
	height:26px !important;
}

.simpleSkinImageMainText{
	font-family:Arial, Helvetica, sans-serif !important;
	line-height:20px !important;
	color:#CCCCCC !important;
	font-size:12px !important;
	font-weight:100 !important;
	background-color:rgba(0, 0, 0, 0) !important;
}

.modernSkinImageMainText{
	font-family:Arial, Helvetica, sans-serif !important;
	line-height:20px !important;
	color:#333333 !important;
	font-size:12px !important;
	font-weight:100 !important;
}

.simpleSkinWhiteAndBold{
	margin:0 !important;
	padding:0 !important;
	color:#FFFFFF !important;
	font-weight:bold !important;
}

.modernSkinBold{
	margin:0 !important;
	padding:0 !important;
	color:#333333 !important;
	font-weight:bold !important;
}

.roundSkinBold{
	margin:0 !important;
	padding:0 !important;
	color:#0099ff !important;
	font-weight:bold !important;
}

.simpleSkinTextWithBottomMargins{
	margin:0 !important;
	padding:0 !important;
	margin-bottom:10px !important;
}

.simpleSkinImageMainText a:link{
	text-decoration:underline !important;
	color:#0099FF !important;	
}

.simpleSkinImageMainText a:visited{
	text-decoration:underline !important;
	color:#0099FF !important;	
}

.simpleSkinImageMainText a:hover{
	text-decoration:underline !important;
	color:#FFFFFF !important;	
}

.modernSkinImageMainText a:link{
	text-decoration:underline !important;
	color:#06F !important;	
}

.modernSkinImageMainText a:visited{
	text-decoration:underline !important;
	color:#333333 !important;	
}

.modernSkinImageMainText a:hover{
	text-decoration:underline !important;
	color:#999999 !important;	
}